<div class=" devise">
          <div class="connexion  ">
            <%= devise_error_messages! %>
             <div class="panel">

                   <h2>Se créer un compte</h2>
                   <p>Veuillez entrer un email et un mot de passe</p>
               </div>


               <%= form_for(resource, as: resource_name,id:"Login", url: registration_path(resource_name)) do |f| %>

                <div class="form-group">

                    <%= f.text_field :username, autofocus: true, autocomplete: "pseudo", placeholder:"Votre pseudo", class:"form-control", id:"inputname"%>
                </div>
     
                 <div class="form-group">

                    <%= f.text_field :last_name, autofocus: true, autocomplete: "nom", placeholder:"Votre nom", class:"form-control", id:"inputlastname"%>
                </div>

                <div class="form-group">

                    <%= f.text_field :first_name, autofocus: true, autocomplete: "prénom", placeholder:"Votre prénom", class:"form-control", id:"inputfirstname"%>
                </div>

                <div class="form-group">

                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email Address", class:"form-control", id:"inputEmail"%>
                </div>


                <div class="form-group">
                    <% if @minimum_password_length %>
                    
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password",class:"form-control", id:"inputPassword",placeholder:"Password" %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                </div>

                <div class="form-group">
                    
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", id:"inputPassword2",placeholder:"Password confirmation" %>
                </div>
                
                <%= f.submit "S'enregistrer", class:"default-btn mid-button theme-color" %>
                <% end %>
                <%= render "devise/shared/links" %>

        </div>
  </div>
