<div class="devise">
	<div class="connexion">
		   <div class="panel">
               <h3>Infos complémentaires</h3>
               <p>Plus ces champs sont renseignés, meilleur seront vos résultats de recherche!</p>
               <p></p>
            </div>
		<%= form_for :anything, url: {action: "edit"}, html: {class: "nifty_form"} do |f| %>
			<div class= 'form-group'>
			  <%= f.text_field :household, placeholder: "Nombre de personne dans le foyer?",class:"form-control" %>
			</div>
			<div class= 'form-group'>
			  <%= f.text_field :ustensil, placeholder: "Materiel de cuisine",class:"form-control" %>
			</div>
			<div class= 'form-group'>
			  <%= f.text_field :food_restrictions, placeholder: "Restriction alimentaire",class:"form-control" %>
			</div>
			  <%= f.submit "Mettre à jour",class:"default-btn mid-button theme-color" %>
		<% end %>
		
	</div>
</div>	




